{% load static wagtailcore_tags %}

{% with value.buttons.0.value.icon_side as icons_side %}
  {% if value.buttons|length > 1 %}
    <ul class="fr-btns-group fr-btns-group--inline-lg{% if icons_side == 'fr-btn--icon-left' %} fr-btns-group--icon-left{% elif icons_side == 'fr-btn--icon-right' %} fr-btns-group--icon-right {% endif %} {{ value.position }}">
      {% for button in value.buttons %}
        <li>{% include "sites_conformes_core/blocks/button.html" with button=button.value %}</li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="fr-btns-group fr-btns-group--inline-lg{% if icons_side == 'fr-btn--icon-left' %} fr-btns-group--icon-left{% elif icons_side == 'fr-btn--icon-right' %} fr-btns-group--icon-right {% endif %} {{ value.position }}">
      {% include "sites_conformes_core/blocks/button.html" with button=value.buttons.0.value %}
    </div>
  {% endif %}
{% endwith %}
